{%- extends 'base.html' -%}

{%- block head_end -%}
	<link rel="stylesheet" href="/static/style/index.css"/>
{%- endblock -%}

{%- block body -%}
	<div class="content-container">
		<header>
			<div class="col span2-5">
				<span class="logo">
					<a href="/">
						<img src="/static/logo.png" height="90px">
					</a>
					<p id="slogan">continuing the conversation</p>
				</span>
			</div>
			
			<div class="col span3-5" align="right">
				<div class="header-menu">
					<b>
						<a href="/stats">{% if stats %}{{ stats['logged_in'] }} online{% else %}Stats{% endif %}</a> &nbsp;
						<a id="hdr-news" href="/news">News</a> &nbsp;
						<a id="hdr-dls" href="/downloads">Downloads</a> &nbsp; 
						<a id="hdr-forum" href="https://wink.messengergeek.com" target="_blank">Forum</a> &nbsp;
						<a href="/register"><img src="/static/sign_up_small.png" style="vertical-align: middle"></a>
					</b>
				</div>
			</div>
		</header>
		
		<div class="group section content">
			<div class="group section">
				<div class="col span4-4 separator">
				</div>
			</div>
			
			{% block content %}{% endblock %}
			
			<div class="group section">
				<div class="col span4-4 separator content-end spin180"></div>
			</div>
		</div>
		
		<div class="footer">
			<p class="footer-menu">
				<a id="ftr-home" href="/">Home</a>
				&bull;
				<a id="ftr-signup" href="/register">Sign Up</a>
				&bull;
				<a id="ftr-dls" href="/downloads">Downloads</a>
				&bull;
				<a href="https://gitlab.com/valtron/msn-server" target="_blank">GitLab</a>
				&bull;
				<a href="https://wink.messengergeek.com" target="_blank">MessengerGeek</a>
				&bull;
				<a href="/faq">FAQ</a>
				&bull;
				<a id="ftr-news" href="/news">News</a>
				&bull;
				<a href="/stats">{% if stats %}{{ stats['logged_in'] }} online{% else %}Stats{% endif %}</a>
			</p>
			<div id="ftr-txt">
				<p>
					Design by <a href="http://spriteclad.com/main.html" id="Spriteclad-link" target="_blank">Spriteclad</a>.
					Website by <a href="http://maigol.ml" id="Maigol-link" target="_blank">Maigol</a>.
				</p>
				<p>
					MSN, MSN Messenger, Windows Live, "Windows", and Windows Live Messenger are all properties of the Microsoft Corporation. We own none of this. This is a fan project for personal purposes only.
				</p>
			</div>
		</div>
	</div>
{%- endblock -%}
