<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>
			{% if title %}
				{{ title }} |
			{% endif %}
			Escargot MSN Server
		</title>
		<link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png"/>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans"/>
		<link rel="stylesheet" href="/static/style/base.css"/>
		<script src="/static/script/langs.js"></script>
		{%- block head_end -%}{%- endblock -%}
	</head>
	<body>
		{%- block body -%}{%- endblock -%}
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-119140043-1"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			gtag('config', 'UA-119140043-1');
		</script>
	</body>
</html>