{%- extends 'base-common.html' -%}

{%- block content -%}
	<div id="id" title="home"></div>
	<div class="group section content-section section1">
		<div class="col span2-4 section1-col1">
			<div class="section1-text">
				<h1 id="s1-h">What's old is new again</h1>
				
				<p id="s1-p">
					Escargot is a custom server that makes old versions of MSN Messenger and Windows Live Messenger work again.
				</p>
			</div>
			
			<div class="section1-links">
				<a class="signup-btn" href="/register">
					<b id="signup-txt">Sign up</b>
				</a>
				&nbsp; &nbsp;
				<p>
					<a href="/downloads"><b id="dl-msg">Download Messenger</b></a>
				</p>
			</div>
		</div>
		
		<div class="col span2-4 section1-img-container">
			<img src="/static/wlm-screenshot.png" />
		</div>
	</div>
	
	<div class="group section content-section section2">
		<div class="col span1-4">
			<div class="circle">
				<img src="/static/s2icon.png" width="235px" />
			</div>
		</div>
		
		<div class="col span3-4">
			<div class="section-content">
				<p id="s2-h" class="section-title">
					"But why?"
				</p>
				
				<p id="s2-p">
					<strong>Why not?</strong> MSN Messenger was onve the ultimate king of instant messaging and social networking programs, in a time before Facebook, Skype, Discord, or Twitter. But then Microsoft bought Skype in 2012 and thought that owning two seperate chat services was redundant, so MSN was shut down. Which is a shame, 'cause even though it might not have the latest features, it still is a good IM platform. Now several people are working on reverse engineering a server for every major MSN version, and you can chat with people all over the world right now!
				</p>
			</div> 
		</div>
	</div>
	
	<div class="group section content-section section3">
		<div class="col span3-4">
			<div class="section-content" align="right">
				<p id="s3-h" class="section-title">
					"But how?"
				</p>
				
				<p id="s3-p">
					<strong>Escargot</strong> is a custom-written server built to recreate the older MSN Messenger server architecture, used back when Microsoft still had the servers running. The code to recreate the servers works for some versions of MSN, but (as of writing) WLM 2009 and 2011/2012 don't work, since those versions run on different protocols and use different technology we have to reverse-engineer. However, all of the code is fully open source and on <a href="https://gitlab.com/valtron/msn-server" target="_blank">GitLab</a>, so feel free to contribute!
				</p>
			</div>
		</div>
		
		<div class="col span1-4">
			<img src="/static/s3icon.png" class="wlm-logo" width="275px" />
		</div>
	</div>
	
	<div class="group section content-section section4">
		<div class="col span3-4 section4-links">
			<h1 id="s4-h1" align="center">"What now?"</h1>
			<p id="s4-h2" align="center">Several things! You can:</p>
			
			<div class="group section section4-grid">
				<div class="col span1-2" align="center">
					<a href="/register">
						<div class="button-big">
							<img src="/static/sign_up.svg" />
							<p id="s4-signup">Sign up for Escargot</p>
						</div>
					</a>
				</div>
				
				<div class="col span1-2" align="center">
					<a href="/downloads">
						<div class="button-big">
							<img src="/static/download.svg" />
							<p id="s4-dl">Download Messenger</p>
						</div>
					</a>
				</div>
			</div>
			<div class="group section section4-grid">
				<div class="col span1-2" align="center">
					<a href="https://wink.messengergeek.com" target="_blank">
						<div class="button-big">
							<img src="/static/forum.svg" />
							<p id="s4-forum">Talk on the Escargot forum</p>
						</div>
					</a>
				</div>
				
				<div class="col span1-2" align="center">
					<a href="/news">
						<div class="button-big">
							<img src="/static/news.svg" />
							<p id="s4-news">View the latest Escargot news</p>
						</div>
					</a>
				</div>
			</div>
		</div>
		
		<div class="col span1-4 section4-status">
			<div class="status-content" align="center">
				<h2 id="s5-h">Patch status</h2>
				
				<div class="status-cont" align="left">
					<!--Line 1-->
					<div class="group section">
						<div class="col span1-3">
							<img src="/static/msnIcons/1-3-sm.png" />
						</div>
						<div class="col span2-3">
							MSN 1
						</div>
						<div class="col span3-3 supported">Supported<sup>[1]</sup></div>
					</div>
					
					<!--Line 2-->
					<div class="group section">
						<div class="col span1-3">
							<img src="/static/msnIcons/1-3-sm.png" />
						</div>
						<div class="col span2-3">
							MSN 2
						</div>
						<div class="col span3-3 supported">Supported<sup>[1]</sup></div>
					</div>
					
					<!--Line 3-->
					<div class="group section">
						<div class="col span1-3">
							<img src="/static/msnIcons/1-3-sm.png" />
						</div>
						<div class="col span2-3">
							MSN 3
						</div>
						<div class="col span3-3 supported">Supported<sup>[1]</sup></div>
					</div>
					
					<!--Line 4-->
					<div class="group section">
						<div class="col span1-3">
							<img src="/static/msnIcons/4-sm.png" />
						</div>
						<div class="col span2-3">
							MSN 4
						</div>
						<div class="col span3-3 supported">Supported<sup>[1]</sup></div>
					</div>
					
					<!--Line 5-->
					<div class="group section">
						<div class="col span1-3">
							<img src="/static/msnIcons/5-7-sm.png" />
						</div>
						<div class="col span2-3">
							MSN 5
						</div>
						<div class="col span3-3 supported">Supported<sup></sup></div>
					</div>
					
					<!--Line 6-->
					<div class="group section">
						<div class="col span1-3">
							<img src="/static/msnIcons/5-7-sm.png" />
						</div>
						<div class="col span2-3">
							MSN 6
						</div>
						<div class="col span3-3 supported">Supported<sup></sup></div>
					</div>
					
					<!--Line 7-->
					<div class="group section">
						<div class="col span1-3">
							<img src="/static/msnIcons/5-7-sm.png" />
						</div>
						<div class="col span2-3">
							MSN 7
						</div>
						<div class="col span3-3 supported">Supported<sup></sup></div>
					</div>
					
					<!--Line 8-->
					<div class="group section">
						<div class="col span1-3">
							<img src="/static/msnIcons/8-sm.png" />
						</div>
						<div class="col span2-3">
							MSN 8
						</div>
						<div class="col span3-3 supported">Supported<sup>[2]</sup></div>
					</div>
					
					<!--Line 9-->
					<div class="group section">
						<div class="col span1-3">
							<img src="/static/msnIcons/14-16-sm.png">
						</div>
						<div class="col span2-3">
							MSN '09
						</div>
						<div class="col span3-3 not-supported">Not yet<sup></sup></div>
					</div>
					
					<!--Line 10-->
					<div class="group section">
						<div class="col span1-3">
							<img src="/static/msnIcons/14-16-sm.png">
						</div>
						<div class="col span2-3">
							MSN '11
						</div>
						<div class="col span3-3 not-supported">Not yet<sup></sup></div>
					</div>
					
					<!--Line 11-->
					<div class="group section">
						<div class="col span1-3">
							<img src="/static/msnIcons/14-16-sm.png">
						</div>
						<div class="col span2-3">
							MSN '12
						</div>
						<div class="col span3-3 not-supported">Not yet<sup></sup></div>
					</div>
				</div>
				
				<br>
				
				<p id="status-msg1">
					1. Requires "Old MSN support" option when creating your account.<br>
					<strong>Beware: MSN 1/2/3/4 do not have secure login</strong> and you should only use "Old MSN support" with a throwaway password.
				</p>
				<p id="status-msg2">
					2. Only 8.1.0178 and 8.5 are known to work; others might not.
				</p>
			</div>
		</div>
	</div>
{%- endblock -%}