{%- extends 'base-common.html' -%}

{%- from '_funcs.html' import section -%}

{%- block content -%}
	<div id="id" title="news"></div>
	{%- call section('off-white', "Escargot Today") -%}
		<h3 align="center">The latest news from Escargot Land.</h3>
		
		<h4>2018-10-14</h4>
		<ul>
			<li>
				Changed website design to <a href="https://wink.messengergeek.com/t/new-escargot-website-concept/2172" target="_blank">the one made by Spriteclad</a>,
				implemented by <a href="http://www.maigol.ml" target="_blank">Maigol</a>
			</li>
		</ul>
		
		<h4>2018-08-30</h4>
		<ul>
			<li>
				Deployed a compatible tab configuration for WLM 8.x alongside fixing MSN 5.0 - 7.5's. 5.0, 6.x, 7.x, and 8.x users rejoice!
			</li>
			<li>
				Yahoo! Messenger frontend being worked on for 8 months, and <b>unofficial interop with the MSN frontend being planned for it soon!?!</b>&nbsp;<img src="/static/emots/emot-wow.gif" />
			</li>
			<li>
				Also, WLM 2009 support has been <a href="http://wink.messengergeek.com/t/after-a-year-of-being-puzzled-weve-finally-got-the-wlm-2009-problem-solved/6440" target="_blank">confirmed</a> and is currently in the works and in the process of being completed. Get your hype hats on!
			</li>
			<li>
				<i>By the way, sorry we haven't updated this in almost a year.</i>&nbsp;<img src="/static/emots/emot-shy.gif" />
			</li>
		</ul>
		
		<h4>2017-12-18</h4>
		<ul>
			<li>
				Added <a href="/downloads">StuffPlug</a>
			</li>
		</ul>
		
		<h4>2017-12-11</h4>
		<ul>
			<li>
				Added <a href="/downloads">WLM 8.5 downloads</a>,
				<a href="http://wink.messengergeek.com/t/wlm-8-5-is-here-lol-im-actually-using-the-beta-version-so-it-works-p/2139" target="_blank">fashionably late</a>
			</li>
		</ul>
		
		<h4>2017-12-10</h4>
		<ul>
			<li>Added <a href="/stats">stats page</a></li>
		</ul>
		
		<h4>2017-11-28</h4>
		<ul>
			<li>Hozzáadott <a href="/downloads">WLM 8.1.0178 magyarul</a></li>
		</ul>
		
		<h4>2017-11-21</h4>
		<ul>
			<li>Agregado <a href="/downloads">WLM 8.1.0178 en Español</a></li>
		</ul>
		
		<h4>2017-11-18</h4>
		<ul>
			<li>Add support, downloads, and patching instructions for WLM 8.1.0178</li>
			<li>Added <a href="/downloads">Escargot Autopatcher</a> download</li>
			<li>Added <a href="/patching">a short mention</a> of how to patch</li>
		</ul>
		
		<h4>2017-06-20</h4>
		<ul>
			<li>Added <a href="/downloads">more pre-patched downloads</a> in several languages</li>
			<li>Added <a href="/patching">registry file</a> for easier patching of MSN 1 &ndash; 6.2</li>
		</ul>
		
		<h4>2017-06-17</h4>
		<ul>
			<li>Added <a href="/downloads">downloads</a> for Messenger Plus! Sound Patch and Emoticon Creator</li>
		</ul>
		
		<h4>2017-06-11</h4>
		<ul>
			<li>Added <a href="/downloads">downloads</a> for Messenger Plus! and MSN Polygamy</li>
		</ul>
		
		<h4>2017-06-09</h4>
		<ul>
			<li>Added <a href="/downloads">pre-patched MSN 5.0</a> in several languages</li>
			<li>Updated <a href="/patching">patching instructions</a> for getting tabs working</li>
		</ul>
		
		<h4>2017-06-06</h4>
		<ul>
			<li>MSN 7.5 is now fully supported</li>
			<li>Added <a href="/downloads">new downloads</a>, both pre-patched and unpatched installers, in several languages</li>
			<li>Added <a href="/downloads">pre-patched MSN 5.0</a> in several languages</li>
			<li>Logging in with "password-in-email" is no longer supported: to log in MSN 1 &ndash; 4, check the "Old MSN support" checkbox when creating your account or resetting your password</li>
			<li>Updated <a href="/patching">patching instructions</a> for MSN 5.0 &ndash; 6.2</li>
		</ul>
		
		<h4>2017-06-05</h3>
		<ul>
			<li>MSN Switcher has been retired; recommend everyone <a href="/downloads">use a pre-patched version</a> or <a href="/patching">patch their own</a></li>
		</ul>
		
		<h4>2017-05-29</h3>
		<ul>
			<li>Added <a href="/downloads">downloads in multiple languages</a>, thanks <a href="https://wink.messengergeek.com/u/Mateus_Rick" target="_blank">Mateus</a>!</li>
		</ul>
		
		<h4>2017-05-26</h3>
		<ul>
			<li><a href="/forgot">Password reset</a> implemented; hopefully you signed up with a real email!</li>
		</ul>
		
		<h4>2017-04-25</h3>
		<ul>
			<li>MSN 6 now supported</li>
		</ul>
		
		<h4>2017-04-23</h3>
		<ul>
			<li>Add support for MSN 5</li>
		</ul>
		
		<h4>2017-04-21</h3>
		<ul>
			<li>Add support for MSN 2.2+, 3, 4</li>
		</ul>
		
		<h4>2017-04-12</h3>
		<ul>
			<li>Add support for MSN 1 and 2.0</li>
		</ul>
		
		<h4>2017-04-11</h3>
		<ul>
			<li>Escargot launched with support for MSN 7.0</li>
		</ul>
	{%- endcall -%}
{%- endblock -%}
