{%- extends 'base-common.html' -%}

{%- from '_funcs.html' import section -%}

{%- block content -%}
	<style>
		.ver-button {
			display: inline-block;
			width: 15%;
			border-radius: 12px;
			margin: 5px 2%;
			cursor: pointer;
			max-width: 150px;
		}
		.ver-button img {
			width: 90%;
			margin-top: 1em;
			height: auto;
		}
		.ver-button:hover {
			background: hsla(0, 100%, 100%, 0.5);
		}
		
		.instructions {
			width: 715px;
			margin: 10px auto;
			padding: 5px 1em;
			line-height: 1.5em;
			border-radius: 5px;
		}
		.instructions a {
			text-decoration: none;
			color: #0076e9;
		}
		
		.hidden {
			display: none;
		}
		
		code {
			font-family: Monaco,"Lucida Console",Courier,monospace;
			padding: 0.1em 0.2em;
			border: 1px solid #DDD;
			background-color: #EEE;
			border-radius: 0.2em;
			letter-spacing: -0.05em;
		}
		
		@media screen and (max-width: 830px) {
			.instructions { width: 100%; padding: 5px 1px; }
		}
		
		@media screen and (max-width: 480px) {
			.ver-button { width: 90px; min-height: 150px }
			.ver-button img { width: 80px; height: 80px }
		}
	</style>
	<div id="id" title="patching"></div>
	{%- call section('off-white', "Patching Instructions") -%}
		<div style="max-width: 50em; margin-left: auto; margin-right: auto">
			<p>
				Choose your version below for instructions.
			</p>
			<p style="font-style: italic">
				If you want to patch MSN yourself, you'll need a <a href="https://mh-nexus.de/en/hxd" target="_blank">hex editor</a>
				(but <a href="https://notepad-plus-plus.org" target="_blank">Notepad++</a> works too if you're careful),
				or you can use <a href="https://gitlab.com/enhanox" target="_blank">enhanox</a>'s
				<a href="http://storage.log1p.xyz/misc/Escargot-Autopatcher-1.2.exe">Escargot Autopatcher</a>.
			</p>
		</div>
		<div>
			<div class="txt--center">
				<div class="ver-button" id="81-btn" onclick="showPatchingInstructions('8x');">
					<img src="/static/msnIcons/wlm8.png">
					<p>WLM 8</p>
				</div>
				
				<div class="ver-button" id="75-btn" onclick="showPatchingInstructions('75');">
					<img src="/static/msnIcons/msn.png">
					<p>MSN 7.5</p>
				</div>
				
				<div class="ver-button" id="70-btn" onclick="showPatchingInstructions('70');">
					<img src="/static/msnIcons/msn.png">
					<p>MSN 7.0</p>
				</div>
				
				<div class="ver-button" id="50-btn" onclick="showPatchingInstructions('50');">
					<img src="/static/msnIcons/msn.png">
					<p>MSN 5.0 - 6.2</p>
				</div>
				
				<div class="ver-button" id="10-btn" onclick="showPatchingInstructions('10');">
					<img src="/static/msnIcons/1-3-lg2.png">
					<p>MSN 1.0 - 4.7</p>
				</div>
			</div>
			
			<div class="instructions">
				<div id="patch8x" class="hidden">
					<h2 id="patch8x-title">WLM 8.1 - 8.5</h2>
					<p id="patch8x-body">
						<p id="p8-s1">Replace <code>msidcrl40.dll</code> with <a href="http://storage.log1p.xyz/msidcrl.dll">this file</a>, and edit <code>msnmsgr.exe</code>:</p>
						
						<ol>
							<li id="p8-s2">Change <code>messenger.hotmail.com</code> to <code>m1.escargot.log1p.xyz</code></li>
							<li id="p8-s3">Change <code>byrdr.omega.contacts.msn.com</code> to <code>ebyrdromegactcsmsn.log1p.xyz</code></li>
							<li id="p8-s4">Change <code>tkrdr.storage.msn.com</code> to <code>etkrdrstmsn.log1p.xyz</code></li>
							<li id="p8-s5">Change <code>ows.messenger.msn.com</code> to <code>eowsmsgrmsn.log1p.xyz</code></li>
							<li id="p8-s6">Change <code>rsi.hotmail.com</code> to <code>ersih.log1p.xyz</code></li>
							<li id="p8-s7">Change <code>http://config.messenger.msn.com/Config/MsgrConfig.asmx</code> to <code>https://escargot.log1p.xyz/etc/MsgrConfig?padding=qqqq</code></li>
						</ol>
					</p>
				</div>
				
				<div id="patch75" class="hidden">
					<h2 id="patch75-title">MSN 7.5</h2>
					<p id="patch75-body">
						<p id="p75-s1">Replace <code>msidcrl.dll</code> with <a href="http://storage.log1p.xyz/msidcrl.dll">this file</a>, and edit <code>msnmsgr.exe</code>:</p>
						<ol>
							<li id="p75-s2">Change <code>messenger.hotmail.com</code> to <code>m1.escargot.log1p.xyz</code></li>
							<li id="p75-s3">Change <code>http://config.messenger.msn.com/Config/MsgrConfig.asmx</code> to <code>https://escargot.log1p.xyz/etc/MsgrConfig?padding=qqqq</code></li>
						</ol>
					</p>
				</div>
				
				<div id="patch70" class="hidden">
					<h2 id="patch70-title">MSN 7.0</h2>
					<p id="patch70-body">
						<p id="p70-s1">Edit <code>msnmsgr.exe</code>:</p>
						<ol>
							<li id="p70-s2">Change <code>messenger.hotmail.com</code> to <code>m1.escargot.log1p.xyz</code></li>
							<li id="p70-s3">Change <code>https://nexus.passport.com/rdr/pprdr.asp</code> to <code>https://m1.escargot.log1p.xyz/nexus-mock</code></li>
							<li id="p70-s4">Change <code>PassportURLs</code> to <code>Passporturls</code></li>
							<li id="p70-s5">Change <code>http://config.messenger.msn.com/Config/MsgrConfig.asmx</code> to <code>https://escargot.log1p.xyz/etc/MsgrConfig?padding=qqqq</code></li>
						</ol>
					</p>
				</div>
				
				<div id="patch50" class="hidden">
					<h2 id="patch50-title">MSN 5.0 - 6.2</h2>
					<p id="patch50-body">
						<p id="p50-s1">First edit <code>msnmsgr.exe</code>:</p>
						<ol>
							<li id="p50-s2">Change <code>messenger.hotmail.com</code> to <code>m1.escargot.log1p.xyz</code></li>
							<li id="p50-s3">Change <code>https://nexus.passport.com/rdr/pprdr.asp</code> to <code>https://m1.escargot.log1p.xyz/nexus-mock</code></li>
							<li id="p50-s4">Change <code>PassportURLs</code> to <code>Passporturls</code></li>
							<li id="p50-s5"><strong>(6.0+ only)</strong> Change <code>http://config.messenger.msn.com/Config/MsgrConfig.asmx</code> to <code>https://escargot.log1p.xyz/etc/MsgrConfig?padding=qqqq</code></li>
						</ol>
						<p id="p50-s6">
							Then edit the registry and change <code>HKEY_CURRENT_USER\SOFTWARE\Microsoft\MSNMessenger\Server</code>
							to <code>m1.escargot.log1p.xyz</code>.
						</p>
						<p id="p50-s7">
							You can either use the registry editor, or download and run this file: <a href="http://storage.log1p.xyz/SetEscargotServer.reg">SetEscargotServer.reg</a>
						</p>
					</p>
				</div>
				
				<div id="patch10" class="hidden">
					<h2 id="patch10-title">MSN 1.0 - 4.7</h2>
					<p id="patch10-body">
						<p id="p10-s1">
							After installing, edit the registry and change <code>HKEY_CURRENT_USER\SOFTWARE\Microsoft\MessengerService\Server</code>
							to <code>m1.escargot.log1p.xyz</code>.
						</p>
						<p id="p10-s2">
							You can either use the registry editor, or download and run this file: <a href="http://storage.log1p.xyz/SetEscargotServer.reg">SetEscargotServer.reg</a>
						</p>
					</p>
				</div>
			</div>
		</div>
	{%- endcall -%}
{%- endblock -%}
